
P {
 padding-left: 50px;
 font-family: 'Times New Roman';
 color: #;
}
a {
 text-decoration: none;
 font-family:Monotype Corsiva;
 color: #1fadd7;
 font-size: 100%;
 }
a:visited {
 color: #f55200;
 font-size: 100%;
 }

body {font-size: 90px;}
